.serviceBox{
    font-family:'Poppins', sans-serif;
    text-align: center;
    padding: 25px 35px 40px;
    position: relative;
    z-index: 1;
}
.serviceBox:before,
.serviceBox:after{
    content: "";
    height: 148px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--before-bg);
    z-index: -1;
}
.serviceBox:after{
    background-color: #fff;
    height: auto;
    border-radius: 50%/15%;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
.serviceBox .service-icon{
    color: var(--main-color);
    font-size: 40px;
    margin: 0 0 20px;
}
.serviceBox .title{
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    margin: 0 0 10px;
}
.serviceBox .description{
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    margin: 0;
}
.serviceBox.red{ --main-color: #FF4E01; }
.serviceBox.green{ --main-color: #008B85; }
.serviceBox.orange{ --main-color: #FF7C19; }
@media only screen and (max-width: 1199px){
    .serviceBox{ margin: 0 0 30px; }
}